{% extends "base.html" %}

{% block content %}

{% load bootstrap %}

<h2>Add a new product</h2>

<form class="form-horizontal" method="post" action="{% url 'add_new_product' %}"
      enctype="multipart/form-data">{% csrf_token %}
  {{ form|bootstrap_horizontal }}
         
     <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
             <input class="btn btn-primary" type="submit" value="Add product" />
        </div>                    
      </div>
</form>


{% endblock %}
