{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

<p>Rate buyer (1 worst, 5 best)</p>

<form class="form-horizontal" method="post" action="{% url 'do_buyer_review' %}">{% csrf_token %}
  {{ form|bootstrap_horizontal }}
  <input type="submit" value="submit">
</form>

{% endblock %}
