<!-- payment.html -->
{% extends "base.html" %}

{% block content %}

{% load bootstrap %}

<h1>Are you sure you want to buy this thing?</h1>
<form method="post" action="">
  {{ form }}
  <input type="submit" value="Yes I Yams">
</form>
{% endblock %}