{% extends "base.html" %}

{% block content %}

<h1>Frequently Asked Questions</h1>

<ul>
  <li>
    Que: How do you use tokens?<br />  Ans: Tokens can be used to list 1 item
    for sale. Each token costs 50 cents and can be purchased in any amount.
  </li>

  <li>
    Que: How can I list a product? <br /> Ans: Listing of products can be done
    by clicking on the link found on the homepage or user profile.
  </li>
</ul>

{% endblock %}

