{% extends "base.html" %}


{% block content %}
<div class="container">
	<div class="row-fluid">
		<div class="col-md-8">
			<img alt="sketch" src="{{ MEDIA_URL }}sketch.jpg">
		</div>
		<div class="col-md-4">
			<p>Have a product to sell?</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>Have a product to sell?</p>
		</div>
		<div class="col-md-6">
			<p>Have a product to sell?</p>
		</div>
	</div>
</div>
{% endblock %}
