<!-- payment.html -->
{% extends "base.html" %}

{% block content %}

{% load bootstrap %}
<h1>Show me the money</h1>
<form method="post" action="#">
  {{ form }}
  <input type="submit" value="Pay Up">
</form>

{% endblock %}