{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}

{% if products %}

<table class="table table-bordered table-striped">
<tr>
  <th>Product</th>
  <th>Brand</th>
  <th>Quantity</th>
  <th>Price</th>
  <th>Seller</th>
  <th></th>
</tr>

{% for product in products %}
<tr>
  <td><a href="{% url 'view_product' product.pk %}">{{product.name}}</a></td>
  <td>{{product.brand_name}}</td>
  <td>{{product.amount_remaining}}</td>
  <td>{{product.price}}</td>
  <td>{{product.seller}} [<a href="{% url 'send_message' to=product.seller.myuser.user.username %}">contact seller</a>]</td>
  <td>
    <a href="#" class="" onclick="$('#add_to_fav_{{product.pk}}').submit(); return false;">Add to favourites</a>
    <form id="add_to_fav_{{product.pk}}" method="post" action="{% url 'add_to_fav' %}">{% csrf_token %}
      <input type="hidden" name="product_id" value="{{ product.pk }}">
  </td>
</tr>

{% endfor %}
</table>

{% else %}

<p> No products found.</p>
{% endif %}


{% endblock %}
