{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}

<table class="table table-striped table-bordered">
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Date Posted</th>
    <th>Status</th>
    <th>Remove?</th>
    <th>Sold? <small>Enter buyer username to mark it as sold.</small></th>
  </tr>
  {% for product in all_products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.last_modified }}</td>
    <td>{{ product.status }}</td>
    <td>
      <form method="post" action="{% url 'remove_product' %}">{% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.pk }}">
        <input type="submit" value="remove" class="btn btn-default">
      </form>
    </td>
    <td>
      <form method="post" action="{% url 'mark_product_sold' %}">{% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.pk }}">
        <div class="row">
        <div class="col-md-8"><input type="text" class="form-control" name="buyer_username"></div>
        <div class="col-md-4"><input type="submit" value="sell" class="btn btn-default"></div>
        </div>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'add_new_product' %}" class="btn btn-default">Add new products</a>



{% endblock %}
