{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}
<h2>Overall Ratings</h2>
<table class="table table-bordered">
  <tr>
    <td>Overall item description</td>
    <td>{{ item_description }}</td>
  </tr>
  <tr>
    <td>Overall communication</td>
    <td>{{ communication }}</td>
  </tr>
  <tr>
    <td>Overall shipping speed</td>
    <td>{{ shipping_speed }}</td>
  </tr>
  <tr>
    <td>Overall shipping charges</td>
    <td>{{ shipping_charges }}</td>
  </tr>
  <tr>
    <td>Overall seller rating</td>
    <td>{{ seller_rating }}</td>
  </tr>
</table>

<h2>Reviews</h2>
<table class="table table-bordered">
  <tr>
    <th>Product Name</th>
    <th>Comments</th>
    <th>From</th>
  </tr>
  {% for seller_review in seller_reviews %}
  <tr>
    <td>{{ seller_review.product.name }}</td>
    <td>{{ seller_review.comments }}</td>
    <td>{{ seller_review.review_from }}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
