{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}

<table class="table table-bordered">
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Date Posted</th>
    <th>Date Sold</th>
    <th>Buyer</th>
    <th>Sell Again?</th>
  </tr>
  {% for product in all_products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.created }}</td>
    <td>{{ product.last_modified }}</td>
    <td>{{ product.buyer }}</td>
    <td><form method="post" action="{% url 'sell_product_again' %}">{% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.pk }}">
        <input type="submit" value="sell again" class="btn btn-default">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'buy_tokens' %}" class="btn btn-default">Buy more tokens</a>

{% endblock %}
