{% extends "base.html" %}

{% block content %}

{% include "account_info_links.html" %}

<div class="rc-main-content">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div><span class="rc-field-tag">Name:</span> 
        <span>{{ myuser.user.first_name }} {{ myuser.user.last_name }}</span></div>
      <div><span class="rc-field-tag">Username:</span>  <span>{{ myuser.user.username}}</span> </div>
      <div><span class="rc-field-tag">Email Address:</span>  <span>{{ myuser.user.email }} </span> </div>
      <div><span class="rc-field-tag">Location:</span>  <span>{{ myuser.location }}</span> </div>
      <div class="rc-button-group">
        <a href="{% url 'password_change' %}" class="btn btn-default"> Update Password</a>
        <a href="{% url 'email_update' %}" class="btn btn-default">Update email</a>
        <a href="{% url 'location_update' %}" class="btn btn-default"> Update location</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
