{% extends "base.html" %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
  <li class=""><a href="#outbox" data-toggle="tab">Sent</a></li>
</ul>

<br />

<div class="tab-content">
  <div class="tab-pane active" id="inbox">
    <table class="table table-bordered">
      <tr>
        <th>From</th>
        <th>Message title</th>
        <th>Time</th>
      </tr>
      {% for message in in_messages %}
      <tr> 
        <td>
          {% if message.is_unread %}<b>{% endif %}
            {{ message.message_from.user.username }}
            {% if message.is_unread %}</b>{% endif %}
        </td>
        <td><form id="inbox_{{ message.pk }}" method="post" action="{% url 'view_message' %}">{% csrf_token %}
            <input type="hidden" name="mark_as_read" value="True">
            <input type="hidden" name="message_id" value="{{ message.pk }}">
          </form>
          {% if message.is_unread %}<b>{% endif %}
          <a href="#" onclick="$('#inbox_{{ message.pk }}').submit(); return false;">{{ message.title }}</a>
          {% if message.is_unread %}</b>{% endif %}
        </td>
        <td>
          {% if message.is_unread %}<b>{% endif %}
            {{ message.created }}
            {% if message.is_unread %}</b>{% endif %}
        </td>
        {% if message.is_unread %}
        </b>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="tab-pane" id="outbox">
    <table class="table table-bordered">
      <tr>
        <th>From</th>
        <th>Message title</th>
        <th>Time</th>
      </tr>
      {% for message in out_messages %}
      <tr>
        <td>{{ message.message_from.user.username }}</td>
        <td>
          <form id="outbox_{{ message.pk }}" method="post" action="{% url 'view_message' %}">{% csrf_token %}
            <input type="hidden" name="mark_as_read" value="False">
            <input type="hidden" name="message_id" value="{{ message.pk }}">
          </form>
          <a href="#" onclick="$('#outbox_{{ message.pk }}').submit(); return false;">{{ message.title }}</a>
        </td>
        <td>{{ message.created }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<a href="{% url 'send_message' %}" class="btn btn-default">Send new message</a>

{% endblock %}

