{% extends "base.html" %}

{% block content %}

{% load bootstrap %}

<!--  <div class="rc-main-content">-->
<div class="container">
<div class="row-fluid">
<div class="col-md-8">

<form class="form-horizontal"  method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      
       {{ form|bootstrap_horizontal }}
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
             <input class="btn btn-primary" type="submit" value="Login" />
             <input type="hidden" name="next" value="{{ next }}" />
         </div>                    
      </div>
    </form>
    
</div>    
<div class="col-md-4">
	<p>TESTING PARAGRAPH</p>
</div>
</div>
</div><!-- container div -->
<!--  </div>-->


{% endblock %}
