{% extends "base.html" %}
{% block content %}
{% load bootstrap %}

<div>

  {% include "account_info_links.html" %}

  {% if form.errors %}
  <div class="alert alert-error">
    Password change failed.
  </div>
  {% endif %}

  <form class="form-horizontal" method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <input class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10 btn btn-large btn-primary" 
               type="submit" value="Change Password" />
      </form>

</div>
{% endblock %}
