{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

<!--  <div class="rc-main-container">-->
<div class="container">
<div class="row-fluid">
<div class="col-md-8">
      <h1>Create an account</h1>
      <form class="form-horizontal" action="" method="post">{% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <input class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10 btn btn-large btn-primary" 
               type="submit" value="Submit">
      </form>

</div>    
<div class="col-md-4">
	<p>TESTING PARAGRAPH</p>
</div>
</div>
</div><!-- container div -->
<!--  </div>-->
{% endblock %}
