body {
    font-family: 'Open Sans', sans-serif;
}

.form {
    font-family: 'Open Sans', sans-serif;
}

.rc-header {
    font-family: 'Rufina', serif;
    padding:2em; 
    padding-top:1em;
    padding-bottom:0.5em;
}
.rc-header-title {
    font-size:2em;
}
.rc-input {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.rc-btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}



.rc-mainnav-menu > ul > li {
    font-family: 'Rufina', serif;
    padding: 0em 2em;
    text-align: center;
}
.rc-mainnav-menu > ul > li > a {
    padding: 0.5em;
    padding-bottom: 0em;
    font-size: 1.2em;
    color: #fff; 
    border-bottom: 0.5em solid #155270;

    z-index: 9999;
    
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.rc-mainnav-menu > ul > li > a:hover {
    background-color: #155270;
    border-bottom: 0.5em solid #000;
    text-decoration: none;
}
.rc-mainnav-menu > ul > li.active > a {
    background-color: #155270;
    font-weight: 600;
    border-bottom: 0.5em solid #000;
}

.rc-mainnav-menu > ul > li.active > a:hover {
    background-color: #155270;
    font-weight: 600;
    border-bottom: 0.5em solid #000;
}

.rc-mainnav-menu {
    padding:0em 4em; 
    background-color: #155270
}

.rc-mainnav-submenu {

    z-index: 9999;

    font-family: 'Rufina', serif;    
    display: inline-block; 
    background-color: #eee; 
    height: 140px; 
    border-top: 2px solid #000; 
}
.rc-mainnav-submenu > div{
    display: inline-block; 
    padding: 10px;
}

.rc-mainnav-submenu > div > a  {
    color:  #428bca;
}
.rc-mainnav-submenu > div > a:hover  {
    color:  #000;
    text-decoration:  none;
}

.rc-mainnav-submenu > div > a > div {
    text-align: center;
}

.rc-usernav-menu {
    border-bottom: 1px solid #155270;
}

.rc-usernav-menu > ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.rc-field-tag {
    font-weight: 600;
}

.rc-button-group {
    margin-top: 1em;
}

.rc-muted {
    color: #aaa;
}
.rc-badge {
    background-color: #000;
}

.rc-main-content {
    margin: 1em 2em;

}